*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'QuicksaNd', sans-serif;
}
@media (min-width: 570px){
  .App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .App_container{
    grid-column: 2/4;
    grid-row: 1/2;
  }
}